body {
	margin: 0;
	padding: 5px;
	background: green;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
h2{
  position: relative;
  clear: both;
  font-size: 3em;
  left: 45%;
  font-weight: lighter; 
}
h1{
  background: white;
  float: left;
  font-size: 15em;
  font-weight: lighter;
  margin: 5px;
  border-radius: 5px;
}
.hand{
  clear: both;
}
.card{

}
.dealer{
color: red;
}
.person{
color: green;
}
